In [101]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
%matplotlib inline
import datetime as dt
import mplfinance as mpf
import yfinance as yf
import math
import time 

import os
from os import listdir
from os.path import isfile, join

from Py_for_Finance_02_2V import get_df_from_csv
from Py_for_Finance_03 import get_valid_dates
from Py_for_Finance_03 import roi_between_dates
from Py_for_Finance_03 import merge_df_by_column_name
%store -r tickers

# Stock Sectors

In [2]:
sec_df = pd.read_csv('/Users/m1852/python/Python For Finance Youtube/stock_sectors.csv')
sec_df

    Symbol                 Name                  Sector
0      MMM                   3M             Industrials
1      AOS          A. O. Smith             Industrials
2      ABT  Abbott Laboratories             Health Care
3     ABBV               AbbVie             Health Care
4     ABMD              Abiomed             Health Care
..     ...                  ...                     ...
500    YUM          Yum! Brands  Consumer Discretionary
501   ZBRA   Zebra Technologies  Information Technology
502    ZBH        Zimmer Biomet             Health Care
503   ZION        Zions Bancorp              Financials
504    ZTS               Zoetis             Health Care

[505 rows x 3 columns]

In [3]:
sec_df['Sector'].unique()

array(['Industrials', 'Health Care', 'Information Technology',
       'Communication Services', 'Consumer Staples',
       'Consumer Discretionary', 'Utilities', 'Financials', 'Materials',
       'Real Estate', 'Energy'], dtype=object)

In [4]:
indus_df = sec_df.loc[sec_df['Sector'] == "Industrials"]
health_df = sec_df.loc[sec_df['Sector'] == "Health Care"]
it_df = sec_df.loc[sec_df['Sector'] == "Information Technology"]
comm_df = sec_df.loc[sec_df['Sector'] == "Communication Services"]
staple_df = sec_df.loc[sec_df['Sector'] == "Consumer Staples"]
discretion_df = sec_df.loc[sec_df['Sector'] == "Consumer Discretionary"]
utility_df = sec_df.loc[sec_df['Sector'] == "Utilities"]
financial_df = sec_df.loc[sec_df['Sector'] == "Financials"]
material_df = sec_df.loc[sec_df['Sector'] == "Materials"]
restate_df = sec_df.loc[sec_df['Sector'] == "Real Estate"]
energy_df = sec_df.loc[sec_df['Sector'] == "Energy"]

In [49]:
indus_df
tickers = []
for index, row in indus_df.iterrows():
     tickers.append(row['Symbol'])
tickers

['MMM',
 'AOS',
 'ALK',
 'ALLE',
 'AAL',
 'AME',
 'BA',
 'CHRW',
 'CARR',
 'CAT',
 'CTAS',
 'CPRT',
 'CSX',
 'CMI',
 'DE',
 'DAL',
 'DOV',
 'ETN',
 'EMR',
 'EFX',
 'EXPD',
 'FAST',
 'FDX',
 'FTV',
 'FBHS',
 'GNRC',
 'GD',
 'GE',
 'HON',
 'HWM',
 'HII',
 'IEX',
 'INFO',
 'ITW',
 'IR',
 'JBHT',
 'J',
 'JCI',
 'KSU',
 'LHX',
 'LDOS',
 'LMT',
 'MAS',
 'NLSN',
 'NSC',
 'NOC',
 'ODFL',
 'OTIS',
 'PCAR',
 'PH',
 'PNR',
 'PWR',
 'RTX',
 'RSG',
 'RHI',
 'ROK',
 'ROL',
 'ROP',
 'SNA',
 'LUV',
 'SWK',
 'TDY',
 'TXT',
 'TT',
 'TDG',
 'UNP',
 'UAL',
 'UPS',
 'URI',
 'VRSK',
 'GWW',
 'WAB',
 'WM',
 'XYL']

# Returns a DF with ROIs for all Stocks

In [33]:
def get_rois_for_stocks(stock_df):
    tickers = []
    rois = []
    for index, row in stock_df.iterrows():
        df = get_df_from_csv(row['Symbol'])
        if df is None: 
            pass
        else: 
            tickers.append(row['Symbol'])
            sdate, edate = get_valid_dates(df, '2018-01-01', '2020-12-31')
            df = df.set_index(['Date'])
            roi = roi_between_dates(df, sdate, edate)
            rois.append(roi)
            
    return pd.DataFrame({'Ticker': tickers, 'ROI': rois})

In [71]:
industrial = get_rois_for_stocks(indus_df)
health_care = get_rois_for_stocks(health_df)
it = get_rois_for_stocks(it_df)
commu = get_rois_for_stocks(comm_df)
staple = get_rois_for_stocks(staple_df)
discretion = get_rois_for_stocks(discretion_df)
utility = get_rois_for_stocks(utility_df)
financial = get_rois_for_stocks(financial_df)
material = get_rois_for_stocks(material_df)
restate = get_rois_for_stocks(restate_df)
energy = get_rois_for_stocks(energy_df)

2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
File Doesn't Exist
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
File Doesn't Exist
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
File Doesn't Exist
2018-01-02
2020-12-31
2018-01-02
2020-12-31
File Doesn't Exist
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
File Doesn't Exist
2018-01-02
2020-12-31
File Doesn't Exist
File Doesn't Exist
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
File Doesn't Exist
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
File Doesn't Exist
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
File Doesn't Exist
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
File Doesn't Exist
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
File Doesn't Exist
2018-01-02
2020-12-31
File Doesn't Exist
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
File Doesn't Exist
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
File Doesn't Exist
File Doesn't Exist
File Doesn't Exist
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
File Doesn't Exist
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
File Doesn't Exist
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
File Doesn't Exist
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
File Doesn't Exist
2018-01-02
2020-12-31
File Doesn't Exist
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
File Doesn't Exist
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
File Doesn't Exist
File Doesn't Exist
2018-01-02
2020-12-31
2018-01-02
2020-12-31
File Doesn't Exist
2019-03-12
2020-12-31
2019-03-13
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
File Doesn't Exist
2018-01-02
2020-12-31
File Doesn't Exist
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
File Doesn't Exist
2018-01-02
2020-12-31
File Doesn't Exist
2018-01-02
2020-12-31
2018-01-02
2020-12-31
File Doesn't Exist
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
File Doesn't Exist
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
File Doesn't Exist
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
File Doesn't Exist
2018-01-02
2020-12-31
File Doesn't Exist
2018-01-02
2020-12-31
File Doesn't Exist
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
File Doesn't Exist
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
File Doesn't Exist
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
File Doesn't Exist
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
File Doesn't Exist
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
File Doesn't Exist
2018-01-02
2020-12-31
File Doesn't Exist
2018-01-02
2020-12-31
2018-01-02
2020-12-31
File Doesn't Exist
2019-03-20
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
File Doesn't Exist
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
File Doesn't Exist
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
File Doesn't Exist
File Doesn't Exist
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31
2018-01-02
2020-12-31

# Test

rois= []
tickers = []

df = get_df_from_csv('ABT')
if df is None: 
    pass
else: 
    tickers.append('ABT')
    tickers
    sdate, edate = get_valid_dates(df, '2018-01-01', '2020-12-31')
    df = df.set_index(['Date'])
    roi = roi_between_dates(df, sdate, edate)
    rois.append(roi)
    rois

data = pd.DataFrame({'Ticker': tickers, 'ROI': rois})
data

# Top Industrial

In [56]:
industrial.sort_values(by = ['ROI'], ascending = False).head(5)

   Ticker       ROI
23   GNRC  3.734749
10   CPRT  1.918578
53    TDG  1.518984
9    CTAS  1.325593
38   ODFL  1.202971

In [58]:
health_care.sort_values(by = ['ROI'], ascending = False).head(5)

   Ticker       ROI
22   DXCM  5.375582
30   IDXX  2.167543
55    WST  1.887307
45    RMD  1.575014
14   CTLT  1.475499

In [83]:
Ticker = health_care.loc[health_care['ROI'].idxmax(), 'Ticker']
Ticker

'DXCM'

In [59]:
it.sort_values(by = ['ROI'], ascending = False).head(5)

   Ticker        ROI
20   ENPH  66.488464
2     AMD   7.352459
48   PAYC   4.622202
55    NOW   3.178471
67   ZBRA   2.705814

In [60]:
commu.sort_values(by = ['ROI'], ascending = False).head(5)

   Ticker       ROI
12   NFLX  1.689262
15   TMUS  1.105715
4    CHTR  0.895722
16   TTWO  0.840804
11    LYV  0.722861

In [61]:
staple.sort_values(by = ['ROI'], ascending = False).head(5)

   Ticker       ROI
10     EL  1.145197
9    COST  1.112863
19    MKC  0.977708
3     CHD  0.838448
25     PG  0.674051

In [62]:
discretion.sort_values(by = ['ROI'], ascending = False).head(5)

   Ticker        ROI
52   TSLA  10.007861
17   ETSY   7.541047
10    CMG   3.733606
43   POOL   1.931030
51    TGT   1.839622

In [63]:
utility.sort_values(by = ['ROI'], ascending = False).head(5)

   Ticker       ROI
0     AES  1.402912
18    NEE  1.136333
4     AWK  0.819223
26    WEC  0.530405
27    XEL  0.519897

In [73]:
financial.sort_values(by = ['ROI'], ascending = False).head(5)

   Ticker       ROI
37   MSCI  2.612067
32   MKTX  1.860332
6     AJG  1.112315
35    MCO  1.044883
46   SPGI  1.012124

In [74]:
material.sort_values(by = ['ROI'], ascending = False).head(5)

   Ticker       ROI
21    SHW  0.824242
13    LIN  0.785526
0     APD  0.771643
16    NEM  0.689577
8     ECL  0.658577

In [75]:
restate.sort_values(by = ['ROI'], ascending = False).head(5)

   Ticker       ROI
20   SBAC  0.772695
7    EQIX  0.692928
16    PLD  0.689758
1     AMT  0.685782
5     CCI  0.622156

In [76]:
energy.sort_values(by = ['ROI'], ascending = False).head(5)

   Ticker       ROI
8     HES  0.168440
14    OKE -0.131481
9     KMI -0.146362
2     COP -0.217487
19    WMB -0.218709

# Portfolio List

In [87]:
port_list = [industrial.loc[industrial['ROI'].idxmax(), 'Ticker'],
             health_care.loc[health_care['ROI'].idxmax(), 'Ticker'],
             it.loc[it['ROI'].idxmax(), 'Ticker'],
             commu.loc[commu['ROI'].idxmax(), 'Ticker'],
             staple.loc[staple['ROI'].idxmax(), 'Ticker'],
             discretion.loc[discretion['ROI'].idxmax(), 'Ticker'],
             utility.loc[utility['ROI'].idxmax(), 'Ticker'],
             financial.loc[financial['ROI'].idxmax(), 'Ticker'],
             material.loc[material['ROI'].idxmax(), 'Ticker'],
             restate.loc[restate['ROI'].idxmax(), 'Ticker'],
             energy.loc[energy['ROI'].idxmax(), 'Ticker']  
            ]
port_list

['GNRC',
 'DXCM',
 'ENPH',
 'NFLX',
 'EL',
 'TSLA',
 'AES',
 'MSCI',
 'SHW',
 'SBAC',
 'HES']

# Check for Correlation

In [90]:
mult_df = merge_df_by_column_name('daily_return', '2018-01-01', '2020-12-31', *port_list)
mult_df.corr()

,GNRC,DXCM,ENPH,NFLX,EL,TSLA,AES,MSCI,SHW,SBAC,HES
GNRC,1.000000,0.289526,0.344129,0.340732,0.418513,0.321048,0.433322,0.515742,0.547848,0.444762,0.426870
DXCM,0.289526,1.000000,0.212156,0.307643,0.263909,0.293396,0.218424,0.469509,0.348673,0.243462,0.243239
ENPH,0.344129,0.212156,1.000000,0.282688,0.256654,0.280869,0.261715,0.341827,0.278754,0.207225,0.299728
NFLX,0.340732,0.307643,0.282688,1.000000,0.293105,0.360827,0.204157,0.449132,0.346571,0.216935,0.217856
EL,0.418513,0.263909,0.256654,0.293105,1.000000,0.277749,0.407448,0.457616,0.506497,0.397505,0.445605
TSLA,0.321048,0.293396,0.280869,0.360827,0.277749,1.000000,0.273606,0.373189,0.344015,0.181884,0.259790
AES,0.433322,0.218424,0.261715,0.204157,0.407448,0.273606,1.000000,0.483399,0.469867,0.333249,0.470412
MSCI,0.515742,0.469509,0.341827,0.449132,0.457616,0.373189,0.483399,1.000000,0.572602,0.498281,0.411647
SHW,0.547848,0.348673,0.278754,0.346571,0.506497,0.344015,0.469867,0.572602,1.000000,0.493168,0.375061
SBAC,0.444762,0.243462,0.207225,0.216935,0.397505,0.181884,0.333249,0.498281,0.493168,1.000000,0.273548
HES,0.426870,0.243239,0.299728,0.217856,0.445605,0.259790,0.470412,0.411647,0.375061,0.273548,1.000000

In [129]:
mult_df

,GNRC,DXCM,ENPH,NFLX,EL,TSLA,AES,MSCI,SHW,SBAC,HES
251,-0.030089,0.010455,0.078838,0.047458,0.002750,0.029485,0.004617,0.009009,0.008926,-0.016711,0.008005
252,0.035395,0.001552,-0.007692,0.019794,0.015911,-0.010233,-0.000919,0.015194,0.004013,0.012513,0.032393
253,0.006837,-0.100379,-0.031008,0.002829,0.004706,-0.008290,-0.003680,0.015738,-0.005441,-0.005472,0.024089
254,0.006790,0.019330,-0.012000,0.021203,-0.001843,0.006230,0.003693,0.010405,0.020721,0.006924,0.031034
255,-0.017457,0.040931,-0.024291,0.009810,0.007539,0.062638,0.000000,0.001354,0.005549,0.000123,0.006327
...,...,...,...,...,...,...,...,...,...,...,...
1002,0.027268,-0.002725,0.005934,-0.000991,0.005084,0.024443,-0.009366,0.008935,0.013044,0.007473,-0.012177
1003,-0.000686,0.020534,-0.032527,0.010020,0.010998,0.002901,0.001289,0.009041,-0.006213,0.004472,-0.013261
1004,-0.050077,-0.014932,-0.030144,0.022634,-0.004056,0.003466,0.000429,-0.004125,0.001714,-0.000905,-0.004922
1005,0.035326,0.016447,0.016040,-0.011830,-0.000495,0.043229,-0.022737,0.005569,-0.004736,-0.005217,0.022827
1006,-0.007766,0.019158,0.014688,0.030767,0.013594,0.015674,0.031606,0.021831,0.010700,0.027571,-0.018226

In [92]:
days = len(mult_df.index)
days

756

In [95]:
def get_stock_price_on_date(ticker, date):
    df = get_df_from_csv(ticker)
    df = df.set_index(df['Date'])
    return df.loc[date, 'Adj Close']

In [110]:
GNRC1 = print('GNRC $', get_stock_price_on_date('GNRC', '2021-01-04')) #2
DXCM1 = print('DXCM $', get_stock_price_on_date('DXCM', '2021-01-04')) #5
ENPH1 = print('ENPH $', get_stock_price_on_date('ENPH', '2021-01-04')) #3
NFLX1 = print('NFLX $', get_stock_price_on_date('NFLX', '2021-01-04')) #1
EL1 = print('EL $', get_stock_price_on_date('EL', '2021-01-04')) #2
TSLA1 = print('TSLA $', get_stock_price_on_date('TSLA', '2021-01-04')) #2
AES1 = print('AES $', get_stock_price_on_date('AES', '2021-01-04')) #25
MSCI1 = print('MSCI $', get_stock_price_on_date('MSCI', '2021-01-04')) #1
SHW1 = print('SHW $', get_stock_price_on_date('SHW', '2021-01-04')) #2
SBAC1 = print('SBAC $', get_stock_price_on_date('SBAC', '2021-01-04')) #2
HES1 = print('HES $', get_stock_price_on_date('HES', '2021-01-04')) #5

# try to get an equal weighted portfolio
#Total Investment: 
tot_inv = 2*224 + 5*89 + 172*3 + 522*1 + 248*2 + 243*2 + 21*25 + 427 + 235*2 + 268*2 + 50*5
tot_inv

GNRC $ 224.5599975585937
DXCM $ 89.43499755859375
ENPH $ 172.24000549316406
NFLX $ 522.8599853515625
EL $ 248.18096923828125
TSLA $ 243.2566680908203
AES $ 21.36182975769043
MSCI $ 427.1229553222656
SHW $ 235.2015075683593
SBAC $ 268.0975036621094
HES $ 50.98825454711914

5121

# Returns Portfolio Weight

In [112]:
def get_port_weight(price, total):
    return price / total

In [124]:
gnrc_w = get_port_weight(2*224, tot_inv)
dxcm_w = get_port_weight(5*89, tot_inv)
enph_w = get_port_weight(172*3, tot_inv)
nflx_w = get_port_weight(522, tot_inv)
el_w = get_port_weight(248*2, tot_inv)
tsla_w = get_port_weight(2*243, tot_inv)
aes_w = get_port_weight(21*25, tot_inv)
msci_w = get_port_weight(427, tot_inv)
shw_w = get_port_weight(235*2, tot_inv)
sbac_w = get_port_weight(2*268, tot_inv)
hes_w = get_port_weight(50*5, tot_inv)

wts = np.array([gnrc_w, dxcm_w, enph_w, nflx_w, el_w, tsla_w, aes_w, msci_w, shw_w, sbac_w, hes_w])
wts

port_var = np.dot(wts.T, np.dot(mult_df.cov() * 756, wts))
print("Portfolio Variance: ", port_var)
print('GNRC Var: ', mult_df['GNRC'].var() * 756)

Portfolio Variance:  0.2538011140740743
GNRC Var:  0.43946543607242516

# Different Types of Risks: diversifiable risks vs. systematic risks

In [127]:
# Diversifiable Risks = Portfolio Variance - All weighted variances
def calc_diversifiable_risk(df, tickers, weights): 
    days = len(mult_df.index)
    port_var = np.dot(weights.T, np.dot(df.cov() * days, weights))
    i = 0 
    while i < len(tickers): 
        wt_sq = weights[i] ** 2
        stk_var = mult_df[tickers[i]].var() * days
        wt_var = wt_sq * stk_var
        port_var = port_var - wt_var
        i += 1
    return port_var

In [128]:
div_risk = calc_diversifiable_risk(mult_df, port_list, wts)
div_risk

0.1848240754991251

In [ ]:
# Find risks that can't be diversified

In [123]:
print('Systematic Risk: ', (port_var - div_risk))

Systematic Risk:  0.06897703857494919